<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Acord Uganda</title>
    <base href="/">
    <link th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <link th:href="@{/assets/jquery-steps/jquery.steps.css}" th:rel="stylesheet"/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
        <a class="navbar-brand" href="/beneficiary/list">Acord Uganda</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarResponsive"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Form
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beneficiary/list">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-md">
            <form action="/beneficiary/register" class="form-inline" id="beneficiary-form" method="post"
                  th:object="${beneficiary}">
                <h3>Personal</h3>
                <fieldset>
                    <legend>Beneficiary's Personal Information</legend>
                    <div class="form-row">
                        <div class="col-md">
                            <label for="firstName">FIRST NAME: *</label>
                            <input autocomplete="off" class="form-control required" id="firstName" name="firstName"
                                   th:field="*{firstName}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="givenName">GIVEN NAME: </label>
                            <input autocomplete="off" class="form-control" id="givenName" name="givenName" th:field="*{givenName}"
                                   type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="lastName">LAST NAME: </label>
                            <input autocomplete="off" class="form-control" id="lastName" name="lastName" th:field="*{lastName}"
                                   type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="age">CLIENT'S AGE: *</label>
                            <input autocomplete="off" class="form-control required" id="age" min="0" name="age" th:field="*{age}"
                                   type="number"/>
                        </div>
                        <div class="col-md">
                            <label for="email">EMAIL ADDRESS: </label>
                            <input autocomplete="off" class="form-control" id="email" name="email" th:field="*{email}"
                                   type="email"/>
                        </div>
                        <div class="col-md">
                            <label for="contact">PRI PHONE-NUMBER: *</label>
                            <input autocomplete="off" class="form-control" id="contact" name="contact"
                                   th:field="*{contact}" type="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="10" maxlength="10" required/>
                            <span class="help-block">Format: 012-345-6789.</span>
                        </div>
                        <div class="col-md">
                            <label for="phone">ALT PHONE-NUMBER: *</label>
                            <input autocomplete="off" class="form-control required" id="phone" name="phone"
                                   th:field="*{phone}" type="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="10" maxlength="10" required/>
                            <span class="help-block">Format: 012-345-6789.</span>
                        </div>
                        <div class="col-md">
                            <label class="float-center" for="gender">GENDER: *</label><br/>
                            <select class="btn btn-danger" id="gender" name="gender" th:field="*{gender}">
                                <option th:each="gender : ${T(com.acord.enums.Gender).values()}"
                                        th:text="${gender.description}" th:value="${gender.description}">
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <h3>Profile</h3>
                <fieldset>
                    <legend>Beneficiary's Profile Information</legend>
                    <div class="form-row">
                        <div class="col-md">
                            <label class="float-left" for="districts">DISTRICT: *</label><br/>
                            <select class="btn btn-danger" id="districts" name="district" th:field="*{district}">
                                <option th:each="ob:${listOfDistricts}" th:value="${ob[0]}"
                                        th:text="${ob[1]}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="float-left" for="subcounties">SUBCOUNTY: *</label><br/>
                            <select id="subcounties" class="btn btn-danger" name="subcounty" th:field="*{subcounty}"> </select>
                        </div>
                        <div class="col-md">
                            <label for="parishes">PARISH: *</label><br/>
                            <select id="parishes" class="btn btn-danger" name="parish" th:field="*{parish}"> </select>
                        </div>
                        <div class="col-md">
                            <label class="float-left" for="village">VILLAGE: *</label><br/>
                            <select id="village" class="btn btn-danger" name="village" th:field="*{village}">
                                <option th:each="village: ${listOfVillages}"
                                        th:value="${village.id}" th:text="${village.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="dateOfFollowUp">FOLLOW-UP DATE: *</label>
                            <input autocomplete="off" class="form-control required" id="dateOfFollowUp" name="dateOfFollowUp"
                                   th:field="*{dateOfFollowUp}" type="date"/>
                        </div>
                        <div class="col-md">
                            <label for="healthFacility">HEALTH FACILITY: *</label>
                            <input autocomplete="off" class="form-control required" id="healthFacility" name="healthFacility"
                                   th:field="*{healthFacility}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="durationOnTreatment">TREATMENT DURATION: *</label>
                            <input autocomplete="off" class="form-control required" id="durationOnTreatment"
                                   min="0" name="durationOnTreatment" th:field="*{durationOnTreatment}" type="number"/>
                        </div>
                        <div class="col-md">
                            <label for="actionToBeTaken">ACTION-TO-TAKE: *</label>
                            <input autocomplete="off" class="form-control required" id="actionToBeTaken" name="actionToBeTaken"
                                   th:field="*{actionToBeTaken}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label class="float-left" for="districtOfCurrentCare">CARE-DISTRICT: *</label><br/>
                            <select class="btn btn-danger" id="districtOfCurrentCare"
                                    name="districtOfCurrentCare" th:field="*{districtOfCurrentCare}">
                                <option th:each="district: ${listOfAllDistricts}"
                                        th:value="${district.id}" th:text="${district.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="float-left" for="subCountyOfCurrentCare">CARE-SUBCOUNTY: *</label><br/>
                            <select class="btn btn-danger" id="subCountyOfCurrentCare"
                                    name="subCountyOfCurrentCare" th:field="*{subCountyOfCurrentCare}">
                                <option th:each="subcounty: ${listOfSubcounties}"
                                        th:value="${subcounty.id}" th:text="${subcounty.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="comments">CARE-COMMENTS: </label>
                            <input autocomplete="off" class="form-control" id="comments" name="comments" th:field="*{comments}"
                                   type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="weight">CLIENT'S WEIGHT: *</label>
                            <input autocomplete="off" class="form-control required" id="weight" name="weight" th:field="*{weight}"
                                   type="number" min="0"/>
                        </div>
                        <div class="col-md-auto">
                            <label class="float-left" for="memberStatus">MEMBER STATUS: *</label><br/>
                            <select class="btn btn-danger" id="memberStatus" name="memberStatus" th:field="*{memberStatus}">
                                <option th:each="memberStatus : ${T(com.acord.enums.MemberStatus).values()}"
                                        th:text="${memberStatus.description}" th:value="${memberStatus.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <label class="float-left" for="adherence">ADHERENCE: *</label><br/>
                            <select class="btn btn-danger" id="adherence" name="adherence" th:field="*{adherence}">
                                <option th:each="adherence : ${T(com.acord.enums.Adherence).values()}"
                                        th:text="${adherence.description}" th:value="${adherence.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <label class="float-left" for="regimen">REGIMEN: *</label><br/>
                            <select class="btn btn-danger" id="regimen" name="regimen" th:field="*{regimen}">
                                <option th:each="regimen : ${T(com.acord.enums.Regimen).values()}"
                                        th:text="${regimen.description}" th:value="${regimen.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-auto">
                            <label class="float-left" for="regimenLine">REGIMEN-LINE: *</label><br/>
                            <select class="btn btn-danger" id="regimenLine" name="regimenLine" th:field="*{regimenLine}">
                                <option th:each="regimenLine : ${T(com.acord.enums.RegimenLine).values()}"
                                        th:text="${regimenLine.description}" th:value="${regimenLine.description}">
                                </option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <h3>Data Collection</h3>
                <fieldset>
                    <legend>Data Collector's Information</legend>
                    <div class="row">
                        <div class="col-md">
                            <label for="dataCollectorsName">DATA COLLECTOR'S NAME: *</label>
                            <input autocomplete="off" class="form-control required" id="dataCollectorsName"
                                   name="dataCollectorsName" th:field="*{dataCollectorsName}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="dataCollectorsTitle">DATA COLLECTOR'S TITLE: *</label>
                            <input autocomplete="off" class="form-control required" id="dataCollectorsTitle"
                                   name="dataCollectorsTitle" th:field="*{dataCollectorsTitle}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="dataCollectorsPhoneNumber">COLLECTOR'S CONTACT: *</label>
                            <input autocomplete="off" class="form-control"
                                   id="dataCollectorsPhoneNumber" name="dataCollectorsPhoneNumber"
                                   th:field="*{dataCollectorsPhoneNumber}" type="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="10" maxlength="10" required/>
                            <span class="help-block">Format: 012-345-6789.</span>
                        </div>
                        <div class="col-md">
                            <label for="dataAssessor">DATA ASSESSOR: *</label>
                            <input autocomplete="off" class="form-control required" id="dataAssessor" name="dataAssessor"
                                   th:field="*{dataAssessor}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="dataEntrant">DATA ENTRANT: *</label>
                            <input autocomplete="off" class="form-control required" id="dataEntrant" name="dataEntrant"
                                   th:field="*{dataEntrant}" type="text"/>
                        </div>
                    </div>
                </fieldset>

                <h3>Fact File</h3>
                <fieldset>
                    <legend>Beneficiary's Facts Information</legend>
                    <div class="row">
                        <div class="col-md">
                            <label for="icydTool">ICYD TOOL: *</label>
                            <select class="btn btn-danger dropdown-toggle" id="icydTool" name="icydTool"
                                    th:field="*{icydTool}">
                                <option th:each="icydTool : ${T(com.acord.enums.ICYDTool).values()}"
                                        th:text="${icydTool.description}" th:value="${icydTool.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="viralLoadTestDone">VL-TEST? *</label>
                            <select class="btn btn-danger dropdown-toggle" id="viralLoadTestDone" name="viralLoadTestDone"
                                    th:field="*{viralLoadTestDone}">
                                <option th:each="viralLoadTestDone : ${T(com.acord.enums.ViralTestDone).values()}"
                                        th:text="${viralLoadTestDone.description}"
                                        th:value="${viralLoadTestDone.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="followUpMeans">FOLLOW-UP: *</label>
                            <select class="btn btn-danger dropdown-toggle" id="followUpMeans" name="followUpMeans"
                                    th:field="*{followUpMeans}">
                                <option th:each="followUpMeans : ${T(com.acord.enums.FollowUpMeans).values()}"
                                        th:text="${followUpMeans.description}" th:value="${followUpMeans.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="successfullyContacted">CONTACTED? *</label>
                            <select class="btn btn-danger dropdown-toggle" id="successfullyContacted"
                                    name="successfullyContacted" th:field="*{successfullyContacted}">
                                <option th:each="successfullyContacted : ${T(com.acord.enums.Status).values()}"
                                        th:text="${successfullyContacted.description}"
                                        th:value="${successfullyContacted.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="onART">ON ART? *</label>
                            <select class="btn btn-danger dropdown-toggle" id="onART" name="onART" th:field="*{onART}">
                                <option th:each="onART : ${T(com.acord.enums.Status).values()}"
                                        th:text="${onART.description}" th:value="${onART.description}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="dateOfNextViralLoadTest">NEXT VL-TEST DATE: *</label>
                            <input autocomplete="off" class="form-control required"
                                   id="dateOfNextViralLoadTest" name="dateOfNextViralLoadTest" th:field="*{dateOfNextViralLoadTest}"
                                   type="date"/>
                        </div>
                        <div class="col-md">
                            <label for="houseHoldCode">HOUSEHOLD CODE: *</label>
                            <input autocomplete="off" class="form-control required" id="houseHoldCode" name="houseHoldCode"
                                   th:field="*{houseHoldCode}" type="text"/>
                        </div>
                        <div class="col-md">
                            <label for="dateOfARTInitiation">ART INITIATION DATE: *</label>
                            <input autocomplete="off" class="form-control required" id="dateOfARTInitiation"
                                   name="dateOfARTInitiation" th:field="*{dateOfARTInitiation}" type="date"/>
                        </div>
                        <div class="col-md">
                            <label for="dateOfLastClinicVisit">LAST CLINIC VISIT DATE: *</label>
                            <input autocomplete="off" class="form-control required"
                                   id="dateOfLastClinicVisit" name="dateOfLastClinicVisit" th:field="*{dateOfLastClinicVisit}"
                                   type="date"/>
                        </div>
                        <div class="col-md">
                            <label for="dateOfNextARTAppointment">NEXT ART APPOINTMENT: *</label>
                            <input autocomplete="off" class="form-control required"
                                   id="dateOfNextARTAppointment" name="dateOfNextARTAppointment" th:field="*{dateOfNextARTAppointment}"
                                   type="date"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/jquery-steps/jquery.steps.min.js}"></script>
<script th:src="@{/assets/jquery-validate/jquery.validate.min.js}"></script>
<script th:src="@{/assets/custom-scripts/form.js}"></script>
<script th:src="@{/assets/custom-scripts/dropdown.js}"></script>
</body>
</html>